* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #2972b7;
    text-decoration: none;
}

html,
body {
    border: 0;
    padding: 0;
    margin: 0;
}

#home-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    height: 3.375rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(78, 202, 255, .3);
    border-image-slice: 10%;
    justify-content: space-between;
    width: 100%;
}

.bar-content {
    display: flex;
    align-items: center;
    flex: 1;
    height: 37px;
    min-width: 0;
}

.nav-bar .toggle{
    display: none;
    margin-right: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

.nav-bar .bartag {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    color: white;
    align-items: center;
    bottom: 2rem;
}

.modernjs-logo {
    height: 1.8rem;
    flex: 0 0 auto;
    margin-right: .5rem;
}

.modernjs-icon {
    margin: 0 16px 0 0;
}

.header {
    background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/bg.png);
    align-items: flex-start;
    background-origin: border-box;
    background-position: center bottom;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 691px;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 18%;
    padding-top: 5%;
    position: relative;
    background-color: #00b3ff;
    color: white;
}

.hero{
    margin-top: 60px;
    width: 539px;
}

.modernjs-title {
    font-family: Noto Sans SC;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 21px;
}
.modernjs-buttons {
    display: flex;
    justify-content: center;
    margin-top: 87px;
}

.modernjs-run {
    background: linear-gradient(274.85deg, #4ecaff 3%, #64cfde 97.17%);
    border-radius: 39px;
    box-shadow: 0 1px 39px rgb(133 250 202 / 34%);
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 48px;
    opacity: .8;
    width: 147px;
    color: #000;
}

.modernjs-run img {
    margin-left: 8px;
    height: auto;
}
.modernjs-learn {
    align-items: center;
    background: hsla(0, 0%, 100%, .07);
    border: 1px solid #4ecaff;
    border-radius: 39px;
    color: white;
    cursor: pointer;
    display: flex;
    height: 49px;
    justify-content: center;
    margin-left: 32px;
    width: 130px;
}

.swiper-wrap {
    touch-action: pan-y;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
    background-color: #000;
    border-bottom: 1px solid rgba(78, 202, 255, .3);
    border-top: 1px solid rgba(78, 202, 255, .3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.swiper-item {
    box-sizing: content-box;
    display: flex;
    z-index: 1;
    height: 100%;
    position: relative;
    width: 100%;
}

.swiper {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 56px;
    font-size: 18px;
    font-weight: 400;
}

.homepage-main {
    background-color: #000;
    background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/main-bg.png);
    background-position: center 900px;
    background-repeat: no-repeat;
    padding: 1px 0;
    display: block;
}

.news{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 108px 43px 0;
    max-width: 1240px;
    overflow: hidden;
    padding-top: 108px;
    width: 100%;
}
.news_wrap {
    background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/text-bg.png);
    background-repeat: no-repeat;
    background-size: 499px 43.6px;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #fff;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 27px;
}

.icon {
    align-items: center;
    color: #000;
    display: flex;
    height: 93px;
    justify-content: center;
    position: relative;
    width: 90.7px;
}

.icon img {
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: a;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.news-num {
    font-family: Impact;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    left: 50%;
    line-height: 29px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-top: 25px;
}
.news-item {
    max-width: 48%;
    background: hsla(0, 0%, 100%, .1);
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex: 1 1 32%;
    height: 135px;
    margin-bottom: 16px;
    margin-left: 16px;
    /*max-width: 32%;*/
    padding: 0 35.4px;
    transition: .3s;
    align-items: center;
    cursor: pointer;
}

.news_icon {
    fill: #fff;
    flex: 0 0 48px;
    height: 48px;
    width: 48px;
}
.news-item span {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
}